
.Photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  background: linear-gradient(85deg, rgb(255, 255, 255), #000000, #000000, #ffffff);
  background-size: 400% 400%;
  animation: gradientAnimation 5s infinite;
  margin: 0;
  background-color: #f8f9fa;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Photo img {
  border-radius: 20px;
  border: 2px solid purple;
  box-shadow: 0px 0px 40px red;
  width: 450px;
  height: 570px;
  margin-top: 50px;
}

.Photo img:hover {
  width: 430px;
  height: 560px;
  border-radius: 30px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(85deg, rgb(0, 0, 0), #ffffff, #000000, #ffffff);
  background-size: 400% 400%;
  animation: gradientAnimation 5s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f8f9fa;
}

.text p {
  font-family: fantasy;
}
